.content {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    background-color: #16113a;
}

.header {
    display: flex;
    background-color: #272953;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 15px;
}

.navigation {
    display: flex;
    margin-top: 8px;
}

.tuto, .data, .technos {
    border-radius: 10px;
    height: 70px;
    width: 100%;
}

.tuto-button, .data-button, .technos-button {
    font-size: x-large;
    background-color: #383d76;
    border: transparent;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 100%;
}

.tuto-button:hover, .data-button:hover, .technos-button:hover {
    background-color: #2e3160;
    border-color: white;
}

.tuto {
    margin-right: 4px;
}

.data {
    margin: 0 4px 0 4px;
}

.technos {
    margin-left: 4px;
}

.app {
    display: flex;
    justify-content: space-between;
}

.menu {
    background-color: #272953;
    border-radius: 10px;
    margin-top: 8px;
    padding: 0px 10px 10px 10px;
}

.main {
    padding-top: 8px;
    padding-right: 18%;
}

.logo {
    padding-top: 13px;
    width: 150px;
    height: 75px;
}

.footer {
    display: flex;
    background-color: #272953;
    border-radius: 10px;
    margin-top: 8px;
    padding: 0px 10px 10px 10px;
    justify-content: space-around;
    align-items: center;
}

.button-group {
    margin-top: 1rem;
    margin-bottom: 2px;
    display: flex;
    height: 40px;
}

.info {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
}

.modern-button {
    width: 100%;
    color: white;
    background-color: #818af2;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 3px;
}

#update-button {
    margin-right: 5px;
}

#show-button {
    margin-left: 5px;
}

.modern-button:hover {
    background-color: #272953;
    border-color: white;
}

#secteur-dropdown, #regions-dropdown, #debut-dropdown, #fin-dropdown {
    color: black;
  }

.map, .dash-graph {
    border: none;
    width: 730px;
    height: 500px;
    margin-left: 25%;
}

.radioItems label {
    padding-right: 1rem;
}
