.content {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #16113a!important;
}

.header {
    display: flex;
    background-color: #272953;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 15px;
}

.app {
    display: flex;
    justify-content: space-between;
}

.menu {
    background-color: #272953;
    border-radius: 10px;
    margin-top: 8px;
    padding: 0px 10px 10px 10px;
}

.main {
    padding-top: 8px;
    padding-right: 18%;
}

.footer {
    background-color: #272953;
    border-radius: 10px;
    margin-top: 8px;
    padding: 0px 10px 10px 10px;
}







.map {
    border: none;
    margin: 3%;
    width: 94%;
    height: 400px;
}

.info {
    color: grey;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.button-group {
    margin-top: 1rem;
    display: flex;
}

.modern-button {
    width: 50%;
    padding: 0.5rem 1rem;
    margin: 0 0.1rem;
    color: white;
    background-color: #8f95de;
    border-radius: 3px;
    border: none;
    transition-duration: 200ms;
}

.modern-button:hover {
    cursor: pointer;
    background-color: #8289ce;
}

.radioItems label {
    padding-right: 1rem;
}

.input-label {
    margin-bottom: 0.5rem;
}

body {
    color: whitesmoke;
    background-color: #171717;
}