.content {
    font-family: 'Raleway', sans-serif;
    color: black;
}

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    align-items: center;
    font-size: x-large;
    padding: 15px;
}

.app {
    display: flex;
}

.left {
    margin-top: 5px;
    padding-right: 10px;
    border-right: 1px solid;
}

.right {
    padding-left: 5px;
    width: 100%;
}

.navigation {
    display: flex;
    margin: 8px;
}

.tuto, .data, .technos {
    height: 70px;
    width: 100%;
}

.tuto-button, .data-button, .technos-button {
    font-size: large;
    background-color: rgb(229, 229, 229);
    border-color: transparent;
    color: black;
    border-radius: 10px;
    height: 60px;
    width: 100%;
}

.tuto-button:hover, .data-button:hover, .technos-button:hover {
    border-color: black;
    background-color: white;
}

.tuto {
    margin-right: 4px;
}

.data {
    margin: 0 4px 0 4px;
}

.technos {
    margin-left: 4px;
}

.footer {
    display: flex;
    border-top: 1px solid;
    margin-top: 8px;
    padding: 0px 10px 10px 10px;
    justify-content: space-around;
    align-items: center;
}

.map, .dash-graph {
    border: none;
    width: 730px;
    height: 500px;
    margin-left: 25%;
}

.info {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
}

.logo {
    padding-top: 13px;
    width: 150px;
    height: 75px;
}

.button-group {
    margin-top: 1rem;
    margin-bottom: 2px;
    display: flex;
    height: 40px;
}

.radioItems label {
    padding-right: 1rem;
}

#update-button {
    margin-right: 5px;
}

#show-button {
    margin-left: 5px;
}

.modern-button {
    width: 100%;
    background-color: rgb(229, 229, 229);
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 3px;
}

.modern-button:hover {
    background-color: white;
    border-color: black;
}
